<header class="middle-header-container">
    <img class="user-img img-fluid" src="/images/1.jpg" alt="profile">

    <div class="user-details" id="1">
        Home
    </div>
</header>


<main class="middle-msg-container" id="middle-msg-container" style="width:100%;">
    <div>
        <div class="spinner">
            <div class="d-flex justify-content-center">
                <div class="alert alert-dark" role="alert">
                    Send Personal Messages Here
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="middle-bottom-container" style="padding-left: 50px; border-top: 2px white solid;">
    <!-- <button id="uploadfile" style="width:100%; height:50%; margin-top:auto; margin-bottom:auto;">File</button> -->

    <textarea class="msg-input col-11" type="text" placeholder="Type a Message" rows="3" style="color: white;"></textarea>
    <button class="col-1 msg-send-button">
        <i 
            class="fa fa-paper-plane-o" 
            aria-hidden="true"
        ></i>
    </button>
</footer>